<div class='absolute top-0 navbar z-10 text-white'>
  <div class='flex-1'>
    <a class='btn btn-ghost normal-case text-xl' href="/">Jin Jin Heipler</a>
  </div>
  <!-- Desktop Menu -->
  <div class='flex-none hidden lg:flex'>
    <ul class='menu menu-horizontal px-1 items-center'>
      {
        [
          ['Home', '/'],
          ['About', '/#about'],
          ['Projects', '/#projects'],
          ['Resume', '/resume'],
        ].map(([name, href]) => (
          <li class='mx-2'>
            <a
              class='hover:bg-transparent hover:text-[#BB96EA] text-base'
              href={href}
            >
              {name}
            </a>
          </li>
        ))
      }
      <li>
        <a
          href="#contact"
          class='py-1 px-5 rounded-full text-white bg-[#BB96EA] hover:bg-[#A46DEA] hover:text-white hover:drop-shadow-md duration-300 text-base'
        >
          Contact</a
        >
      </li>
    </ul>
  </div>
  <!-- Mobile Hamburger Menu -->
  <div class='dropdown dropdown-end lg:hidden'>
    <div tabindex='0' role='button' class='btn btn-ghost'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        class='h-5 w-5'
        fill='none'
        viewBox='0 0 24 24'
        stroke='currentColor'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M4 6h16M4 12h16M4 18h16'
        ></path>
      </svg>
    </div>
    <ul
      tabindex='0'
      class='menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow-lg bg-white rounded-box w-52 text-gray-700'
    >
      {
        [
          ['Home', '/'],
          ['About', '/#about'],
          ['Projects', '/#projects'],
          ['Resume', '/resume'],
        ].map(([name, href]) => (
          <li>
            <a class='hover:bg-gray-100 hover:text-slate-700' href={href}>
              {name}
            </a>
          </li>
        ))
      }
      <li>
        <a href="#contact" class='py-1 px-5 rounded-full text-white bg-[#BB96EA] hover:bg-[#A46DEA] hover:text-white'>
          Contact
        </a>
      </li>
    </ul>
  </div>
</div>
