<div class='absolute top-0 navbar z-10 text-white'>
  <div class='flex-1'>
    <a class='btn btn-ghost normal-case text-xl' href="/">Jin Jin Heipler</a>
  </div>
  <div class='flex-none hidden lg:flex'>
    <ul class='menu menu-horizontal px-1 items-center'>
      {
        [
          ['Home', '/'],
          ['About', '#'],
          ['Projects', '#'],
          ['Resume', '#'],
        ].map(([name, href]) => (
          <li class='mx-2'>
            <a
              class='hover:bg-transparent hover:text-[#BB96EA] text-base'
              href={href}
            >
              {name}
            </a>
          </li>
        ))
      }
      <li>
        <a
          class='py-1 px-5 rounded-full text-white bg-[#BB96EA] hover:bg-[#A46DEA] hover:text-white hover:drop-shadow-md duration-300 text-base'
        >
          Contact</a
        >
      </li>
    </ul>
    <div class='dropdown lg:hidden'>
      <label tabindex='0' class='btn btn-ghost lg:hidden'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='h-5 w-5'
          fill='none'
          viewBox='0 0 24 24'
          stroke='currentColor'
          ><path
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M4 6h16M4 12h8m-8 6h16'></path></svg
        >
      </label>
      <ul
        tabindex='0'
        class='right-0 menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52'
      >
        {
          [
            ['Home', '#'],
            ['About', '#'],
            ['Projects', '#'],
            ['Resume', '#'],
            ['Contact', '#'],
          ].map(([name, href]) => (
            <li>
              <a class='hover:bg-transparent' href={href}>
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
