---
import '@fontsource-variable/inter';
import Layout from '../../layouts/Layout.astro'
import projects from '../../project-data'
export function getStaticPaths() {
    // return [
    //     { params: { project: 'sprout' } },
    //     { params: { project: 'g-rex' } },
    //     { params: { project: 'hate-crimes' } },
    // ]
    return projects.map(({ title, body, slug, tech }) => {
        return {
            params: { slug },
            props: { title, body, slug, tech }
        }
    })
}

const { title, body, tech} = Astro.props
---
<Layout title={title}>
    <div
    slot='hero-content'
    class='hero-content items-center justify-center lg:flex-row w-full h-1/2'
  >
      <h1
        class="font-['Inter_Variable'] font-medium text-white text-8xl flex-none w-auto"
      >
        {title}
      </h1>
  </div>
  <main class='bg-[#1E293B] mt-8'>
    <section class="flex flex-wrap justify-center gap-6">
    {tech && tech.map((item: string) => (
       <span class="rounded-full border border-slate-300 bg-transparent text-slate-300 font-normal text-xl py-1 px-3">{item}</span>
    ))}
    </section>  
  </main>
</Layout>
