.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  h1 {
    font-size: 3rem;

  }

  p {
    font-size: 1.5rem;
  }

}

.siteLink {
  a {
    text-decoration: none;
    color: #0086F0;
  }
}