//Nav Bar

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;

    .navbarLinks {
        margin-top: .5em;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
        }

        li {
            list-style: none;
            padding: 1rem;
            z-index: 10;
            margin-right: .4em;
        }

        a {
            color: white;
            font-size: 1.2rem;
        }

        a:hover {
            opacity: 0.6;
        }

    }

    .navButton{
        display: none;
    }

}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: gray;

        .navbarLinks {
            width: 100%;

            ul {
                flex-direction: column;
                width: 100%;
            }

            li {
                text-align: center;
            }

        }

    }

    .hidden{
        display: none;
    }

}

//Content
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .children {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100vh;
    }

    .vidContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

}