//Content
.container {
    position: relative;
    width: 100%;
    height: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    overflow: hidden;

    .children {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100vh;
    }

    .vidContainer {
        //position: absolute;
        object-fit: cover;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 300px;
        text-align: center;

        p {
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: .8rem;
        }

    }

}